mysql-connector-python
google-generativeai
tavily-python
openai
selenium
beautifulsoup4
requests
python-dotenv
autogen
DataTypes
Flask
python-dotenv
pandas
numpy
scikit-learn
pytest-shutil
flask_cors
